<div class="container">
	<div class="col-md-4">
		<div class="legend-container">
			<h1 class="title-left">Legend</h1>
		</div>
		<div>
			<h1 class="title-left">What Next?</h1>
			<ul class="recommendations">
				<li class="item">
					<a href="https://learn.optimizely.com/hc/en-us/articles/201954347-Configuration-Lesson-Managing-Projects-and-Experiments#why_projects">Use Multiple Projects</a>
				</li>
				<li class="item">
					<a href="https://help.optimizely.com/hc/en-us/articles/203659720-Manage-Projects-and-Experiments#create_experiments">Archive Completed Experiments</a>
				</li>
				<li class="item">
					<a href="https://help.optimizely.com/hc/en-us/articles/202480860-Project-Settings-JavaScript-jQuery#jS">Remove jQuery from your Snippet (Note: Must have jQuery on the page above Optimizely)</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="col-md-6">
		<canvas id="chart"></canvas>
		<div id="secret">
			<form class="form-group" method="POST" action="/analyze">
				<label class="field">Project ID</label></br>
				<input name="project_id" required="required" type="project_id"></input></br>
				<input class="confirm" type="submit" value="Submit"></input>
			</form>
		</div>
	</div>
	<footer>
		Visualization created using <a href="http://www.chartjs.org/">Chart.js</a> library.
	</footer>
</div>
<script>
  var resultsString = '{{{ results }}}';
</script>
