<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.optimizely.com/js/2465691072.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>